<header class= "span-7 last">  
  <nav >
    <ul>
      <li><%= link_to "Home", home_path %></li>         
      
       <li><%= link_to "Store", store_path %></li>
       
       <li><%= link_to "This Week's Specials", specials_path %></li>
      
    
    </ul>
  </nav>
</header>

